@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #fcfcfc;
  --background-style: radial-gradient(#e6e6e6 0.8px, transparent 0),
    radial-gradient(#e6e6e6 0.8px, #fcfcfc 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #1f2028;
    --background-style: radial-gradient(#2e3039 0.8px, transparent 0),
      radial-gradient(#2e3039 0.8px, #1f2028 0);
  }
}

body {
  background-color: var(--background-color);
  background-image: var(--background-style);
  background-position:
    0 0,
    16px 16px;
  background-size: 32px 32px;
  opacity: 1;
}
